coala-api-enterprise/src/main/relaxng/enterprise-ontology.rnc

# $Id$

default namespace eo = "http://www.demo.nl/2014/schema/eo/"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

grammar {
  start = Fact
  Fact = element Fact 
  { 
    element from { Organization }?, 
    element to { Organization }?,
    element cc { Organization }*
  }
  Organization = element name { text }
}
